.page {
    width: 100%;
    height: 100%;
}

body {
    font-family: Arial, sans-serif;
    color: rgba(0,0,0,0.87);
    font-size: 13px;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
/* Navigation bar */
.nav-list {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.nav-item {
    text-decoration: none;
    color: rgba(0,0,0,0.87);
    margin: 10px;
    font-size: 13px;
}
/* Main */

.main {
    text-align: center;
    margin-top: 135px;
}

.form {
    margin-top: 30px;
}
.form {
    border: 1.5px solid #dfe1e5;
    width: 427px;
    height: 39px;
    margin: 20px auto; 
    border-radius: 25px;  
}
.form:hover {
    box-shadow: 0 1px 1px rgba(0,0,0,0.1);
}
.vergrootglas {
    display: block;
    margin-top: -28px;
    margin-left: -380px;
    background-color: white;
    color: white;
}
input {

    width: 350px;
    margin: 2px;
    height: 30px;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    line-height: 34px !important;

}




.buttons {
    margin-top: 20px;
}
.buttonss {
    background-color:rgb(248, 249, 250);
    border-bottom-color: rgb(218, 220, 224);
    border-radius: 4px;
    border-style: none;
    margin: 11px 4px;
    text-align: center;
    padding: 0 16px;
    font-size: 14px;
    font-family: arial,sans-serif;
    line-height: 27px;
    height: 36px;
    min-width: 54px;
    cursor: pointer;
    user-select: none;
}

.buttonss:hover {
    box-shadow: 0 1px 1px rgba(0,0,0,0.1);
    border: 1px solid #dadce0;
    background-color: #f8f9fa;
    color: #202124;
}

.talen {
    font-size: 13px !important;
    display: inline-block;
    margin-top: 20px;   
}
.taal {
    margin: 3px;
    text-decoration: none;
}





/* Footer */
.footer {
    background-color: #f2f2f2;
    position: fixed;
    left: 0;
    bottom:0;
    width: 100%;
    font-size: 14px;
    color: rgba(0, 0, 0, 0.54);  
}

.footer-taal {
    border-top: 2px solid #e4e4e4;
    height: 40px;
    text-align: left;
    padding-left: 28px;
    line-height: 40px;
}
    
.footer-info {
    display: flex;
    border-top: 2px solid #e4e4e4;
    height: 40px;
    overflow: auto;
}

.left-info{
    flex:1 1 200px;
}
.footer-item {
    display: inline-block;
    padding: 14px;
    padding-left: 27px;
    padding-right: 27px;
    text-decoration: none;
    

}